{% extends 'base.html.twig' %}

{% block title %}Edit Vehicle{% endblock %}

{% block body %}
    <h1>Edit Vehicle</h1>

    {{ form_start(form) }}
        {{ form_row(form.brand) }}
        {{ form_row(form.registration) }}
        {{ form_row(form.dailyPrice) }}
        {{ form_row(form.available) }}
        <button type="submit">Update Vehicle</button>
    {{ form_end(form) }}

    <a href="{{ path('vehicle_index') }}">Back to Vehicle List</a>
{% endblock %}
